
<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-4">
      <section class="user_info">
        <div>
          <%= gravatar_for @user %>
        </div>
        <div>
          <h3>
            <%= @user.name %>
            <br>
            <%= @user.email %>
          </h3>
        </div>
      </section>
      
        <div>
          <p style="overflow:hidden">
            <%= @user.password_digest %>
          </p>
        </div>
        
        <div class="container-fluid" style="border: 2px solid grey">
          
          <%= link_to "New Post", new_user_micropost_path(@user), class: "btn btn-primary" %>

        </div>
  
    </div>
    <div class="col-md-4">
      <h1>Microposts</h1>
    
      <table class="table">
        <thead>
            <th>Content</th>
            <th>User</th>
            <th>Posted</th>
        </thead>
      
        <tbody>
          <% @microposts.each do |micropost| %>
            <tr class="row">
              <td><%= micropost.content %></td>
              <td><%= micropost.user_id %></td>
              <td> <%= time_ago_in_words(micropost.created_at) %> ago.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      
    </div>
    
    
    
  </div>
  
  
  <div class="container">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
  </div>

</div>