
<h1>Microposts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr class="row">
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Micropost', new_user_micropost_path %>
