<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render "layouts/navbar.html.erb" %>
    
    <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <p id="notice"><%= notice %></p>


    
    <div class="container">
      <%= yield %>
    </div>

    <%= render "layouts/footer.html.erb" %>

 <%= debug(params) if Rails.env.development? %>
    
  </body>
</html>
